<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="M.U.N_System_BackEnd.Properties.Settings.Appointment_DatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;E:\University\Year 2\IMAT2204 - Project Management And Development\M.U.N System\Database\Appointment Database.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="M.U.N_System_BackEnd.Properties.Settings.Appointment_DatabaseConnectionString1"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;|DataDirectory|\Appointment Database.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="M.U.N_System_BackEnd.Properties.Settings.OurDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\p14177216\Source\Repos\ProjectManagement\App_Data\OurDatabase.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="M.U.N_System_BackEnd.Properties.Settings.OurDatabaseConnectionString1"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Chavda_2\Source\Repos\ProjectManagement3\App_Data\OurDatabase.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="M.U.N_System_BackEnd.Properties.Settings.OurDatabaseConnectionString2"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Chavda_2\Source\Repos\ProjectManagement\App_Data\OurDatabase.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="M.U.N_System_BackEnd.Properties.Settings.OurDatabaseConnectionString3"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Chavda_2\Source\Repos\ProjectManagement2\App_Data\OurDatabase.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="M.U.N_System_BackEnd.Properties.Settings.OurDatabaseConnectionString44"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\UwaisAkbar\Source\Repos\ProjectManagement\App_Data\OurDatabase.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>